<div class="inventory-container">
  <h2>Inventory Management</h2>
  <button class="btn-add-main" (click)="showAddModal.set(true)">+ Add New Product</button>
  
  <div class="product-grid">
    @for (p of products(); track p.id) {
      <div class="product-card">
        <div class="product-info">
          <h3>{{ p.name }} <span>({{ p.brand }})</span></h3>
          <p class="desc">{{ p.description }}</p>
          <div class="stats">
            <span class="price-tag">{{ p.price | currency }}</span>
            <span class="stock-tag" [class.low]="p.stock < 10">Stock: {{ p.stock }}</span>
          </div>
        </div>

        <div class="product-actions">
          <button class="btn-price" (click)="changePrice(p.id)">Update Price</button>
          <button class="btn-stock" (click)="changeStock(p.id)">Update Stock</button>
          <button class="btn-delete" (click)="deleteProduct(p.id,p.name)">Delete</button>
        </div>
      </div>
    } @empty {
      <p>No products found in inventory.</p>
    }
  </div>

  @if (showAddModal()) {
    <div class="modal-overlay">
      <div class="modal-box">
        <h3>Add New Product</h3>
        <form [formGroup] ="productForm" (ngSubmit)="saveProduct()">
          <input type="text" formControlName="name" placeholder="Product Name">
          <input type="text" formControlName="brand" placeholder="Brand">
          <textarea formControlName="description" placeholder="Description"></textarea>
          
          <div class="row">
            <input type="number" formControlName="price" placeholder="Price">
            <input type="number" formControlName="stock" placeholder="Initial Stock">
          </div>

          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="showAddModal.set(false)">Cancel</button>
            <button type="submit" class="btn-save" [disabled]="productForm.invalid">Save Product</button>
          </div>
        </form>
      </div>
    </div>
  }
</div>